<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DI\Dependency\NotMagento\PencilInterface" type="DI\Dependency\NotMagento\YellowPencil" />
    <!--<preference for="Magento\Catalog\Api\ProductRepositoryInterface" type="DI\Dependency\Model\CustomImplementation" />-->
</config>